<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Document</title>
</head>
<body>

    <div th:if="${param.error}" th:text="${param.error}"></div>
    <div th:if="${param.success}" th:text="${param.success}"></div>

    <h1 th:text="${titulo}">Hola Mundo</h1>
    <!-- /* Esta es la ruta para crear una pelicula */-->
    <a th:href="@{/crear}">Crear Pelicula</a>

    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Year</th>
                <th>Rating</th>
                <th>Listar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.title}">Title</td>
                    <td th:text="${movie.directors}">Director</td>
                    <td th:text="${movie.year}">Year</td>
                    <td th:text="${movie.rated}">Rating</td>
                    <td ><a th:href="@{/form/{id}(id=${movie.id})}">Editar</a></td>
            </tr>
        </tbody>
    </table>
</html>